@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-frontpage{
    /*background: rgb(26,43,101);
    background: linear-gradient(343deg, rgba(26,43,101,1) 14%, rgba(62,74,122,1) 48%, rgba(7,14,33,1) 90%);*/
    background-image: url('./Components/img/mark-konig-Tl8mDaue_II-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 700px;
    border-radius: 5px;
}